* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;

}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

h2 {
    text-align: center;
}

header {
    background-color: rgb(149, 67, 225);
    padding: 20px 0;
    color: aliceblue;
}

header .container {
    display: flex;
    align-items: center;
}

header li {
    display: inline;
    padding-left: 15px;
    font-size: 20px;
}

h2 {
    padding-bottom: 25px;
}

#portfolio h2,
#contact h2 {
    font-size: 40px;
}

.container img {
    height: 300px;
}

#about p {
    padding-left: 20px;
}

section {
    padding-top: 40px;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

.form {
    max-width: 320px;
    margin: 0 auto;
}

form textarea {
    resize: none;
    height: 180px;
}

form button {
    background-color:rgb(149, 67, 225);
    border: none;
    cursor: pointer;
    color: aliceblue;
}

form button:hover {
    background-color:rgb(92, 22, 158)   ;
}

.social-links li a {
    text-decoration: none;
}

.social-links li a img {
    height: 45px;
}

.social-links li {
    display: inline;
    padding-left: 10px;
}

footer {
    background-color: blueviolet;
}

footer .container {
    align-items: center;
    color: aliceblue;
    justify-content: center;
    padding: 30px 0;
}